# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

[*]
# Indentation and spacing
indent_size = 2
indent_style = space
tab_width = 2
# New line preferences
end_of_line = lf

[*.{ts,js}]
max_line_length = 180